{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-success text-white">
        <h3>Add Student</h3>
    </div>

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit"
                    class="btn btn-success">

                Save Student

            </button>

            <a href="/"
               class="btn btn-secondary">

                Back

            </a>

        </form>

    </div>

</div>

{% endblock %}