{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-danger text-white">
        <h3>Delete Student</h3>
    </div>

    <div class="card-body">

        <p>
            Are you sure you want to delete:
        </p>

        <h4>
            {{ student }}
        </h4>

        <form method="POST">

            {% csrf_token %}

            <button class="btn btn-danger">
                Confirm Delete
            </button>

            <a href="/"
               class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}  